<section data-ng-controller="ChecklistController">
	<div class="homepageSplash md-default-theme" layout="column">
		<div flex="30"></div>
		<div flex="33">
			<center>
				<div class="heroText">
					Startup Checklist
				</div>
				<div class="heroDescription">
					A list of every part of the process from inception to selling.
				</div>
				<br>
				<md-button class="md-raised md-primary splash" href="/signup"> Coming Soon </md-button>
			</center>
		</div>
	</div>
	<md-content class="md-padding">
	</md-content>
</section>