<section data-ng-controller="DictionaryController">
	<div class="homepageSplash md-default-theme" layout="column">
		<div flex="30"></div>
		<div flex="33">
			<center>
				<div class="heroText">
					Startup Dictionary
				</div>
				<div class="heroDescription">
					Fed up of hearing concepts and not understanding them? Check out our dictionary
				</div>
				<br>
				<md-button class="md-raised md-primary splash" href="/signup"> Coming Soon </md-button>
			</center>
		</div>
	</div>
	<md-content class="md-padding">
	</md-content>
</section>