<section data-ng-controller="HomeController">
	<div class="homepageSplash md-default-theme" layout="column">
		<div flex="30"></div>
		<div flex="33">
			<center>
				<div class="heroText">
					Learn how to develop <b>real</b> startups
					 
				</div>
				<div class="heroTextTwo">
					in <b>hours</b> not months
				</div>
				<br>
				<md-button class="md-raised md-primary splash" href="/signup"> Join for free </md-button>
			</center>
		</div>
	</div>
	<md-content class="md-padding">
		<h2> Latest News </h2>
		<div layout="row" layout-wrap>
			<div flex="33" flex-md="50" flex-sm="100" ng-repeat="new in news">
				<md-card>
			      <img ng-src="{{new.image}}" alt="{{new.title}}">
			      <md-card-content>
			        <h2>{{new.title}}</h2>
			        <p>
			          {{new.description}}
			        </p>
			      </md-card-content>
			    </md-card>
			</div>
		</div>
	</md-content>
</section>