<section data-ng-controller="HomeController">
	<div class="homepageSplash md-default-theme" layout="column">
		<div flex="30"></div>
		<div flex="33">
			<center>
				<div class="heroText">
					Learn how to develop <b>real</b> startups
					 
				</div>
				<div class="heroTextTwo">
					in <b>hours</b> not months.
				</div>
				<br>
				<md-button class="md-raised md-primary splash" href="/signup"> Join for free </md-button>
			</center>
		</div>
	</div>
	<md-content class="md-padding">
		<h3>Hello </h3>
		<p> Hi hi hi </p>
		<br><br><br>
	</md-content>
</section>