<section data-ng-controller="HomeController">
	<div class="homepageSplash md-default-theme" layout="column">
		<div flex="30"></div>
		<div flex="33">
			<center>
				<div class="heroText">
					Learn how to develop <b>real</b> startups
					 
				</div>
				<div class="heroTextTwo">
					in <b>hours</b> not months
				</div>
				<br>
				<md-button class="md-raised md-primary splash" href="/signup"> Join for free </md-button>
			</center>
		</div>
	</div>
	<md-content class="md-padding">
		<div layout="row" layout-margin>
			<div class="front-page-card">
				<md-card>
			      <img src="http://placehold.it/350x250" alt="Washed Out">
			      <md-card-content>
			        <h2>Paracosm</h2>
			        <p>
			          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
			          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
			        </p>
			      </md-card-content>
			    </md-card>
			</div>
			<div class="front-page-card">
				<md-card>
			      <img src="http://placehold.it/350x250" alt="Washed Out">
			      <md-card-content>
			        <h2>Paracosm</h2>
			        <p>
			          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
			          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
			        </p>
			      </md-card-content>
			    </md-card>
			</div>
			<div class="front-page-card">
				<md-card>
			      <img src="http://placehold.it/350x250" alt="Washed Out">
			      <md-card-content>
			        <h2>Paracosm</h2>
			        <p>
			          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
			          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
			        </p>
			      </md-card-content>
			    </md-card>
			</div>
			<div class="front-page-card">
				<md-card>
			      <img src="http://placehold.it/350x250" alt="Washed Out">
			      <md-card-content>
			        <h2>Paracosm</h2>
			        <p>
			          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
			          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
			        </p>
			      </md-card-content>
			    </md-card>
			</div>
			<div class="front-page-card">
				<md-card>
			      <img src="http://placehold.it/350x250" alt="Washed Out">
			      <md-card-content>
			        <h2>Paracosm</h2>
			        <p>
			          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
			          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
			        </p>
			      </md-card-content>
			    </md-card>
			</div>
		</div>
	</md-content>
</section>