<section data-ng-controller="TemplateController">
	<div class="homepageSplash md-default-theme" layout="column">
		<div flex="30"></div>
		<div flex="33">
			<center>
				<div class="heroText">
					Material Design MEAN Template
				</div>
				<div class="heroDescription">
					Get the entire code from the Speed Startup so you can launch your next startup in seconds
				</div>
				<br>
				<md-button class="md-raised md-primary splash" href="/signup"> Coming Soon </md-button>
			</center>
		</div>
	</div>
	<md-content class="md-padding">
	</md-content>
</section>